{
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": [
        ["env", { "targets": { "node": "12" } }]
      ],
      "plugins": [
        "react-hot-loader/babel",
        "syntax-object-rest-spread",
        "transform-object-rest-spread",
        "transform-class-properties",
        "syntax-dynamic-import"
      ]
    }
  },
  "presets": [
    "react",
    ["env", { "targets": { "node": "12" } }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import"
  ]
}
